################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ListOfMaterialsPGGA/obj/Debug
/ListOfMaterialsPGGA/bin/Debug
